---
const { title = 'タイトル', subTitle = 'サブタイトル' } = Astro.props;
---

<hgroup class="title-secondary">
  <h2 class="title-secondary__title js-one-character">{title}</h2>
  <p class="title-secondary__sub-title">{subTitle}</p>
</hgroup>

<style>
  .title-secondary {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .title-secondary__title {
    position: relative;
    display: inline-block;
    width: fit-content;
    font-size: 56px;
    font-size: clamp(1.75rem, 1.134rem + 2.63vw, 3.5rem);
    font-family: var(--fontLore);
    line-height: 1;
    letter-spacing: 0.08em;
  }

  .title-secondary__title::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(-340px + -32px);
    width: 340px;
    max-width: 100%;
    height: 0.6px;
    background-color: var(--bgSecondary);
  }

  .title-secondary__title::after {
    right: calc(-340px + -10px);
  }

  .title-secondary__sub-title {
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    line-height: 1;
  }

  @media (max-width: 768px) {
    .title-secondary__title::after {
      display: none;
    }
  }

  @media (max-width: 599px) {
    .title-secondary {
      gap: 0;
    }

    .title-secondary__title {
      line-height: calc(42 / 28);
    }

    .title-secondary__sub-title {
      line-height: calc(21 / 14);
    }
  }
</style>
