---
import Layout from '../layouts/Layout.astro';
import Fv from '../components/layouts/Fv.astro';
import * as Components from '../components/layouts/Home';
---

<Layout>
  <main class="main">
    <Fv />
    <div class="fade-wrapper">
      <Components.Voice />
      <Components.Profile />
      <Components.Worries />
      <Components.Feature />
      <Components.Members />
      <Components.Price />
      <Components.Cta />
      <Components.Flow />
      <Components.Qa />
      <Components.Access />
      <Components.Cta />
    </div>
  </main>
</Layout>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  gsap.from('.fade-wrapper', {
    scrollTrigger: {
      trigger: '.fade-wrapper',
      start: 'top 90%',
      toggleActions: 'play none none none',
    },
    opacity: 0,
    y: 20,
    duration: 1,
    ease: 'power2.out',
  });
</script>

<style>
  .main {
    padding-top: 120px;
  }

  @media (max-width: 960px) {
    .main {
      padding-top: 68px;
    }
  }
</style>
